header.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px;
  margin-bottom: 10px;
}

footer.container-fluid { margin-top: 10px }

.alert {
  margin-bottom: 10px;
  margin-top: 10px;
}

.alert p { margin-bottom: 0 }

label { margin-bottom: 0 }

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dataTables_wrapper .top .dataTables_info { padding-top: 0 }

.dt-buttons > *:first-child .dropdown-item::before {
  content: '\2713';
  color: #fff;
  margin-right: 10px;
}

.dt-buttons > *:first-child .dropdown-item.active:hover::before { color: #fff }

.dt-buttons > *:first-child .dropdown-item:hover::before { color: #2c3e50 }

.table.table-sm.dataTable th.sorting_asc,
.table.table-sm.dataTable th.sorting_desc,
.table.table-sm.dataTable th.sorting { padding-right: 30px }

.dt-right { text-align: right }

.dataTables_wrapper .top .dataTables_filter input  {
  width: calc(100vw - 850px);
  min-width: 10em;
}

.table thead,
table.DTFC_Cloned thead tr {
  background-color: #3498db;
  color: #fff;
}

#progress-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color:#efefef;
  opacity: .7;
  z-index: 10000;
}

.progress {
  width: 75%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}

@keyframes loader {
	0% { width: 0 }
	100% { width: 100% }
}

.progress-bar {
  animation: loader 10s ease infinite;
  background-color: #64ceaa;
}

@media (max-width: 1023px) {
  .dataTables_wrapper .top .dataTables_filter input  { width: calc(100vw - 535px) }
}

@media (max-width: 767px) {
  .dataTables_wrapper .top .dataTables_filter input  { width: calc(100vw - 100px) }

  .top .dt-buttons { width: auto }
}
